<hr>
<footer>
  <dl>
    <dt>email:</dt>
    <dd><a href='mailto:webmaster@extropicstudios.com'>webmaster@extropicstudios.com</a></dd>
    <dt>gpg:</dt>
    <dd><a href='/files/public.asc'>0x7F3BBA79</a></dd>
    <dt>bitcoin:</dt>
    <dd>1AmE2RwtT5xGTmJfe5H3YnkgZwyphuaKWE</dd>
  </dl>
  <div>this page generated on {{date}}</div>
  <div><a href='https://gitlab.com/groups/ExtropicStudios'>source</a></div>
</footer>
